<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="NetLife, A Haven for Nerds.">
    <meta name="keywords" content="Networking, NetLife, Cloud, Blog, InformationTechnology">
    <meta name="author" content="Yordan Ibishev">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{% if title %}
    <title>{{ title }}</title>
{% else %}
    <title>Default APP Title</title>
{% endif %}
</head>
<body>

<h1>Hello There</h1>

</body>
</html>